
	<nav id="menu">
		<div class="container">
			<ul>
				<li>
					<a href="index.php">Accueil Back Office</a>
				</li>
				<li>
					<a href="profil.php">Profil</a>
				</li>
				<li>
					<a href="users_gestion.php">Gestion des utilisateurs</a>
				</li>					
				<li>
					<a href="cgu.php">CGU</a>
				</li>
				<li>
					<a href="../">Accès au Front Office</a>
				</li>
			</ul>
		</div><!-- end .container -->
	</nav><!-- end #menu -->

	<form action="#" method="post" accept-charset="utf-8">
		<input type="text" name="recherche" value="" placeholder="Recherche...">
	</form>