

<div class="container">



<?php
	$req = $db->prepare('SELECT * FROM videos ORDER BY auteur DESC');
	$req->execute(
		array(
			)
		);
		while ($datas = $req->fetch())
	{

?>
	<div class="row" style="background-color:#efefef; margin: 10px 0;">
		<div class="col-md-4">
			<div id="vid_upload">
				<h2>Contenu de la vidéo</h2>
			</div>
			<!-- !vid_upload -->
			<div id="vid_upload_content">
				<embed width="100%" height="100%" name="plugin" src="../upload/<?php echo $datas['filename']; ?>" type="video/x-ms-wmv" autoplay="false">

			</div>
			<!-- !vid_upload_content -->
		</div>
		<!-- !col-md-4 -->

		<div class="col-md-5">
			<h2>Infos sur la vidéo</h2>
			<p id="titre_video">Titre : <?php echo $datas['title']; ?> </p><br/>
			<p>Matière :<br/>	
			<?php echo $datas['category']; ?></p>
			<br/>
			<p>Classe :<br/>
			<?php echo $datas['grade']; ?></p>
			<p>Description :<br/>
			<?php echo $datas['description']; ?></p>
			<p>Auteur : <?php echo $datas['auteur']; ?></p>
		</div>
		<!-- !col-md-5 -->
		<div class="col-md-3">
			<h2>Validation :</h2>
			<form action="validation.php?id=<?php echo $datas['id']; ?>" method="post">
				<input type="radio" name="validation" value="ok" <?php if ($datas['validation'] == 'ok'){?>checked<?php } ?>>	OK</input><br/>
				<input type="radio" name="validation" value="nope" <?php if ($datas['validation'] == 'nope'){ ?>checked<?php }?>>  Refuser</input><br>
				<input type="submit" value="Valider"></input>	
			</form><br/>
			<?php if ($datas['validation'] == 'ok'){
			?>
			<div class="validee" style="padding:5px; background-color:green; color:white;">Validée</div>
			<?php
			} 
			elseif ($datas['validation'] == 'nope'){
			?>
			<div class="refusee" style="padding:5px; background-color:red; color:white;">Refusée</div>			
			<?php	
			}
			elseif ($datas['validation'] == 'En cours'){
			?>
			<div class="en-attente" style="padding:5px; background-color:orange; color:white;">En attente</div>	
			<?php
			}
			?>
		</div>
	</div>
	<!-- !row -->
<?php
		} 
?>
</div>

