
		<footer>
			<div class="row" style="margin-left: 0px; margin-right: 0px; margin-bottom: 50px;">
				<div class="images_footer col-md-5">
					<div class="row">
						<div class="col-md-4">
							<div id="parrainer">
								<img src="view/img/footer/picto_parrainer.png" alt="Invite a friend">
								<p class="descri_footer">Inviter un ami</p>
							</div><!-- !parrainer -->
						</div>
						<div class="col-md-4">	
							<div id="savoir_plus">
								<a href="savoir_plus.php"><img src="view/img/footer/picto_interrogation.png" alt="More"></a>
								<a href="savoir_plus.php"><p class="descri_footer">En savoir plus</p></a>
							</div><!-- !savoir_plus -->
						</div>
						<div class="col-md-4">
							<div id="regles_du_jeu">
								<img src="view/img/footer/picto_rdj.png" alt="Rules">
								<p class="descri_footer">Règles du jeu</p>
							</div><!-- !regles_du_jeu -->
						</div>
					</div>
				</div><!-- !images_footer -->
			
				<div class="col-md-3">
				</div>

				<div class="social_footer col-md-4">
					<div class="row">
						<div class="col-md-4">
							<div id="facebook">
								<a href="https://www.facebook.com/Custorial/"><img src="view/img/footer/picto_facebook.png" alt="Facebook"></a>
							</div><!-- !facebook -->
						</div>
						<div class="col-md-4">	
							<div id="twitter">
								<a href="https://www.twitter.com/Custorial"><img src="view/img/footer/picto_twitter.png" alt="Twitter"></a>
							</div><!-- !twitter -->
						</div>
						<div class="col-md-4">
							<div id="google">
								<a href="https://www.facebook.com/Custorial/"><img src="view/img/footer/picto_googleplus.png" alt="Google Plus"></a>
							</div><!-- !google -->
						</div>
					</div>
					<p class="descri_footer">partage</p>
				</div><!-- !social_footer -->
			</div><!-- !row -->
			<div class="container">
				<p id="p_footer"><a href="cgu.php">Mentions Légales</a></p>
			</div><!-- !container -->
		


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js" type="text/javascript"></script>
		<script src="view/js/bootstrap-contact.js" type="text/javascript"></script>

		</footer>
		
	</body>
</html>