
		<footer>
			<div class="row" style="margin-left: 0px; margin-right: 0px; margin-bottom: 50px;">
				<div class="images_footer">
					<div class="col-md-2">
						<div id="parrainer">
							<img src="view/img/footer/picto_parrainer.png">
							<p class="descri_footer">Inviter un ami</p>
						</div><!-- !parrainer -->
					</div>
					<div class="col-md-2">	
						<div id="savoir_plus">
							<img src="view/img/footer/picto_interrogation.png">
							<p class="descri_footer">En savoir plus</p>
						</div><!-- !savoir_plus -->
					</div>
					<div class="col-md-2">
						<div id="regles_du_jeu">
							<img src="view/img/footer/picto_rdj.png">
							<p class="descri_footer">Règles du jeu</p>
						</div><!-- !regles_du_jeu -->
					</div>
				</div><!-- !images_footer -->

				<div class="social_footer">
					<div class="col-md-2">
						<div id="facebook">
							<img src="view/img/footer/picto_facebook.png">
							<p class="descri_footer">partage</p>
						</div><!-- !facebook -->
					</div>
					<div class="col-md-2">	
						<div id="twitter">
							<img src="view/img/footer/picto_twitter.png">
						</div><!-- !twitter -->
					</div>
					<div class="col-md-2">
						<div id="google">
							<img src="view/img/footer/picto_googleplus.png">
						</div><!-- !google -->
					</div>
				</div><!-- !social_footer -->
			</div><!-- !row -->
			<div class="container">
				<p id="p_footer"><a href="cgu.php">Mentions Légales</a></p>
			</div><!-- !container -->
		


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js" type="text/javascript"></script>
		<script src="view/js/bootstrap-contact.js" type="text/javascript"></script>

		</footer>
		
	</body>
</html>