<!DOCTYPE html>
<html lang="fr">
<head>
		<meta http-equiv="Content-type" content="text/html" charset="utf-8"/>

		<link rel="icon" type="image/png" href="view/img/favicon.png">

		<!--                     CSS                     -->
		<!-- Reset -->
		<link rel="stylesheet" href="view/style/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="view/style/bootstrap.min.css"> 
		<!-- styles -->
		<link rel="stylesheet" href="ressources/css/style_carousel.css" type="text/css" media="screen" />
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="ressources/css/style.css" type="text/css" media="screen" />
 		<link rel="stylesheet" href="view/style/style_bap.css" type="text/css" media="screen" />
	
 		<!-- Lecteur vidéo !à placer dans le head necessairement! -->
 		<link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
		<script src="//vjs.zencdn.net/4.11/video.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>

		<meta content="width=device-width, height=device-height" name="viewport">

		<title>CustoGame Site</title>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="modules/facebox/js/myfacebox.js"></script>

		<!-- Dropzone -->
		<script type="text/javascript" src="view/js/multiupload.js"></script>
		<script type="text/javascript">
		var config = {
		// Valid file formats
		support : "image/jpg,image/png,image/bmp,image/jpeg,image/gif",
		form: "demoFiler", // Form ID
		dragArea: "dragAndDropFiles", // Upload Area ID
		uploadUrl: "upload.php" // Server side file url
		}
		//Initiate file uploader.
		$(document).ready(function()
		{
		initMultiUploader(config);
		});
		</script>
<script>
	$(document).ready(function(){
		$('#msgMail').hide();
		$('#envoyerOubliMail1').click(function(){
			if($('#youremail').val().length==0)
				return;
			$.ajax({
				type:'POST',
			    url:'modules/login/action/retrievepwd.php',
			    data: {email:$('#youremail').val()},
			    error: function()
			    {
			        //file not exists
			    },
			    success: function()
			    {
			    	$('#msgMail').show();
			    	setTimeout(function(){
			    		$('#fermeture').trigger("click");
			    		$('#formMail').show();
			    		$('#msgMail').hide();
			    	},2000);
			    }
			});
		});
		
		
	});
</script>
</head>
<body>