
	<nav id="menu">
		<div class="container">
			<ul>
				<li>
					<a href="index.php">Accueil</a>
				</li>
				<li>
					<a href="discover.php">Decouvrir</a>
				</li>
				<li>
					<a href="profil.php">Profil</a>
				</li>
				<li>
					<a href="register.php">Inscription</a>
				</li>					
				<li>
					<a href="contact.php">Contact</a>
				</li>							
			</ul>
		</div><!-- end .container -->
	</nav><!-- end #menu -->

	<form action="#" method="post" accept-charset="utf-8">
		<input type="text" name="recherche" value="recherche" placeholder="Recherche...">
	</form>