<?php include_once 'view/form.php';?>
<div id="contact">
	<div class="container">
		<form role="form" method="post" action="<?php echo $_SERVER['PHP_SELF']; ?>" id="contactform">
			<fieldset>
				<h2 class="bluebox">Nous contacter</h2>
			<div id="contact_form">
					<?php if(isset($hasError)) { //If errors are found ?>
						<p class="alert alert-danger">Vérifiez si vous avez rempli tous les champs avec des informations valides et réessayez. Je vous remercie.</p>
					<?php } ?>

					<?php if(isset($emailSent) && $emailSent == true) { //If email is sent ?>
						<div class="alert alert-success">
						<p><strong>Votre message a été envoyé !</strong></p>
						<p>Merci de nous avoir écrit, <strong><?php echo $name;?></strong> ! Votre email a été envoyé avec succès et nous vous répondrons dans les meilleurs délais.</p>
						</div>
					<?php } ?>
				<div class="row">				
					<div class="col-md-6" style="padding-left: 0px;">
						<div class="form-group">
							<label for="name">Nom & Prénom :<span class="help-required">*</span></label>
							<input type="text" name="contactname" id="contactname" value="" class="form-control required" role="input" aria-required="true" />
						</div>
					</div>
					<!-- !col-md-6 -->
					<div class="col-md-6" style="padding-right: 0px;">
						<div class="form-group">
							<label for="email">Votre Mail : <span class="help-required">*</span></label>
							<input type="text" name="email" id="email" value="" class="form-control required email" role="input" aria-required="true" />
						</div>
					</div>
					<!-- !col-md-6 -->
				</div>
				<!-- !row -->
				<div class="form-group">
					<label for="subject">Sujet du mail :<span class="help-required">*</span></label>
					<input type="text" name="subject" id="subject" value="" class="form-control required" role="input" aria-required="true" />
				</div>   
				<div class="form-group">
					<label for="message">Votre message :<span class="help-required">*</span></label>
					<textarea rows="8" name="message" id="message" class="form-control required" role="textbox" aria-required="true" placeholder="Ecrivez ici le contenu de votre message. Merci"></textarea>
				</div>
				<div id="contact_valid">
					<p><span class="label label-info">Les champs marqués d'un * sont obligatoires</span></p>
					<div class="actions">
						<input type="submit" value="Envoyer votre message" name="submit" id="submitButton" class="btn btn-primary" title="Cliquez ici pour envoyer votre message!" />
						<input type="reset" value="Effacer le formulaire" class="btn btn-danger" title="Retirez toutes les données du formulaire." />
					</div>
				</div>
			</div>
			<!-- !contact_form -->
			</fieldset>
		</form>
	</div> <!-- /container -->
</div>
<!-- !contact -->