<div id="index">
	<div id="vid_pres">
		<div id="player_vid_pres">
			<iframe width="100%" height="100%" allowscriptaccess="always" allowfullscreen="true" wmode="transparent" src="" type="application/x-shockwave-flash"></iframe>
		</div>
		<!-- !vid_pres -->
		<div id="descri_vid_pres">
			<p>Bonjour <?php echo $_SESSION['username'] ?></p>
		</div>
		<!-- !descri_vid_pres -->
	</div>
	<!-- !vid_pres -->

	<div id="pitch_container">
		<div class="container" style="padding-left: 0px; padding-right: 0px;">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h2 id="pitch_title" class="bluebox">Pitch</h2>
				</div>
				<div class="col-md-4"></div>
			</div>
			<!-- !row -->
			<p class="pitch">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				 	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				 	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				 	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p
		</div>
		<!-- !container -->
	</div>
	<!-- !pitch_container -->


	<div id="your_turn">
		<a href="upload.php">
			<p>A toi de jouer :         Poste ta vidéo</p>
			<img src="view/img/footer/picto_vid.png">
		</a>
	</div>
	<!-- !container custoconcept -->


	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div id="last_vids">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">			
				<div class="col-md-4"></div>
					<h2 class="col-md-4 orange_div">Dernières vidéos</h2>
				<div class="col-md-4"></div>
			</div>
			<!-- !row -->
			<div class="row" style="margin-left: 0px; margin-right: 0px;">				
				<div id="last_vids_content">
					<?php 
					$result = $db->query('SELECT * FROM videos ORDER BY id DESC');
							while($datas = $result->fetch())
							{
								if ($datas['validation'] == 'ok'){								
					 ?>
					 <div class="col-md-3">
					 	<h3><?php echo $datas['auteur']; ?></h3>
						<iframe src="upload/<?php echo $datas['filename']; ?>" value="autostart=false"></iframe>
					 	<h4><?php echo $datas['title']; ?></h4>
					 </div>
					 <?php
					 		}
						}
					  ?>
				</div>
			</div>
			<!-- !row -->
		</div>
		<!-- !last_vids -->
	</div>
	<!-- !container -->
</div>
<!-- !index -->