<div id="index">
	<div id="vid_pres">
		<div id="player_vid_pres">
			<iframe src="http://player.imaload.com/player/swf/505845b894739936ef000829/53c64b1e94a6f64ea8ee4da4?auth=1416507298-0-eudndimd-c3fca3bbf80bfa67227ca0e406e41fba&wmode=transparent&id=53c64b1e94a6f64ea8ee4da4&preset=538f2bd79473993ac06d39f9" allowfullscreen="true" type="application/x-shockwave-flash" id="concept_custo"></iframe>
		</div>
		<!-- !vid_pres -->
		<div id="descri_vid_pres">
			<p>Vidéo de Présentation</p>
		</div>
		<!-- !descri_vid_pres -->
	</div>
	<!-- !vid_pres -->


	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		 <h2 id="pitch_title">Pitch</h2>
		 	<p class="pitch">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		 	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		 	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		 	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<!-- !container custoconcept -->


	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div id="last_vids">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">			
				<h2>Dernières vidéos</h2>
				<div id="last_vids_content">
				</div>
			</div>
			<!-- !row -->
		</div>
		<!-- !last_vids -->
	</div>
	<!-- !container -->

	<div id="your_turn">
		<a href="upload.php">
			<p>A toi de jouer :         Poste ta vidéo</p>
			<img src="view/img/footer/picto_vid.png">
		</a>
	</div>

</div>
<!-- !index -->
