<div id="index">
	<div id="vid_pres">
		<div id="player_vid_pres">
			<iframe width="100%" height="100%" allowscriptaccess="always" allowfullscreen="true" wmode="transparent" src="" type="application/x-shockwave-flash"></iframe>
		</div>
		<!-- !vid_pres -->
		<div id="descri_vid_pres">
			<p>Bonjour <?php echo $_SESSION['username'] ?></p>
		</div>
		<!-- !descri_vid_pres -->
	</div>
	<!-- !vid_pres -->

	<div id="pitch_container">
		<div class="container" style="padding-left: 0px; padding-right: 0px;">
			<div class="row">
				<div class="col-md-4 pitch_sides"></div>
				<div id="pitch_title" class="col-md-4">
					<h2 class="bluebox">Pitch</h2>
				</div>
				<div class="col-md-4 pitch_sides"></div>
			</div>
			<!-- !row -->
			<p class="pitch">Custorial Game c’est avant tout un plaisir ! Poste sur le site une vidéo de toi en train d’expliquer un cours que tu as appris au lycée. Visionne, partage, like les vidéos d’autres lycéens et tente d’être dans les 50 premiers du classement pour remporter l’un des lots mis en jeux.</p>
		</div>
		<!-- !container -->
	</div>
	<!-- !pitch_container -->


	<div id="your_turn">
		<p><a href="upload.php">A toi de jouer :         Poste ta vidéo</p></a>
		<a href="upload.php"><img src="view/img/footer/picto_vid.png"></a>
	</div>
	<!-- !container custoconcept -->


	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div id="last_vids">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">			
				<div class="col-md-4"></div>
					<h2 class="col-md-4 orange_div">Dernières vidéos</h2>
				<div class="col-md-4"></div>
			</div>
			<!-- !row -->
			<div class="row" style="margin-left: 0px; margin-right: 0px; background: #fff;">
				<div id="last_vids_content">
					<?php 
					$result = $db->query('SELECT * FROM videos ORDER BY id DESC');
							while($datas = $result->fetch())
							{
								if ($datas['validation'] == 'ok'){								
					 ?>
					 <div class="col-md-3" style="background-color:#fff;">
					 	<a href="video.php?id=<?php echo $datas['id'];?>">
					 	<h3><?php echo $datas['title']; ?></h3>
						<img src="view/img/footer/picto_video.png">
					 	<h4><a href="profil.php?username=<?php echo $datas['auteur']; ?>"><?php echo $datas['auteur']; ?></a></h4>
					 	</a>
					 </div>
					 <?php
					 		}
						}
					  ?>
				</div>
			</div>
			<!-- !row -->
		</div>
		<!-- !last_vids -->
	</div>
	<!-- !container -->
</div>
<!-- !index -->