<!DOCTYPE html>
<html lang="fr">
<head>
		<meta http-equiv="Content-type" content="text/html" charset="utf-8"/>

		<link rel="icon" type="image/png" href="view/img/favicon.png">

		<!--                     CSS                     -->
		<!-- Reset -->
		<link rel="stylesheet" href="view/style/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>		
		<!-- styles -->
		<link rel="stylesheet" href="ressources/css/style_carousel.css" type="text/css" media="screen" />
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="ressources/css/style.css" type="text/css" media="screen" />
 		<link rel="stylesheet" href="view/style/style_bap.css" type="text/css" media="screen" />
	
		<!-- jQuery -->
<script src="ressources/js/jquery-1.11.1.min.js"></script>
<script src="modules/facebox/js/myfacebox.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>

<meta content="width=device-width, height=device-height" name="viewport">

		<title>CustoGame Site</title>

<script>
	$(document).ready(function(){
		$('#msgMail').hide();
		$('#envoyerOubliMail1').click(function(){
			if($('#youremail').val().length==0)
				return;
			$.ajax({
				type:'POST',
			    url:'modules/login/action/retrievepwd.php',
			    data: {email:$('#youremail').val()},
			    error: function()
			    {
			        //file not exists
			    },
			    success: function()
			    {
			    	$('#msgMail').show();
			    	setTimeout(function(){
			    		$('#fermeture').trigger("click");
			    		$('#formMail').show();
			    		$('#msgMail').hide();
			    	},2000);
			    }
			});
		});
		
		
	});
</script>

</head>
	<div class="overlay">	
	</div>			
	<div class="main-pre">
			<img class="logo pre-home" src="ressources/images/logo.png">
			<div class="slider">
				<img class="slider-img" src="ressources/images/slider1.png">
				<img class="slider-img" src="ressources/images/slider2.png">
				<img class="slider-img" src="ressources/images/slider3.png">
			</div>
				<div class="connexion">
					<div class="inscrit">
						<span>Vous avez deja un compte ? <strong> Connectez-vous.</strong></span>					
						<form action="index.php" method="post">
							<?php if(isset($_GET['error']) && ($_GET['error']) == 'user_ou_mdp_incorrects'){ ?>
								<p style="color:red;">Pseudo ou mot de passe incorrect</p>
							<?php } ?> 

							<input type="text" name="username" placeholder="Pseudo"><br/>
							<input type="password" name="password" placeholder="Password"><br/>
							<input type="submit" value="Connexion" />
							<?php if(isset($_GET['info']) && ($_GET['info']) == 'inscrit_avec_succes'){ ?>
								<br><br><strong style="color:#50C144;">Inscrit ! Vous pouvez vous connecter</strong>
							<?php } ?> 
						</form>
					</div>
					<div class="pas-inscrit">
						<p>Inscrivez-vous, c'est gratuit.</p><br/>
						<p class="inscription">Rejoignez CUSTORIAL, cela vous prendra moins de 2 minutes pour ouvrir un compte.</p><br/>
						<!-- fb connect -->
						<img src="ressources/images/facebook.png" onclick="Login()" style="width: 100%; margin: 10px 0 18px 0;  cursor: pointer;">
						<div class="trait"><span>OU</span></div>
						<span> Cr&eacute;ez un compte avec votre adresse email</span>
						<form action="register.php" method="post">
							<p class="p_form_register">Pseudo :</p>
							<input type="text" name="username" placeholder="Pseudo"><br/>
							<p class="p_form_register">Prénom & Nom :</p>
							<input type="text" name="first_name" placeholder="Prénom" style="margin-right: 10px;"><input type="text" name="last_name" placeholder="Nom"><br/>
							<p class="p_form_register">E-mail & Confirmation :</p>
							<input type="mail" name="email" placeholder="E-mail" style="margin-right: 6px;">
							<input type="mail" name="mailverif" placeholder="Confirmation">
							<br>
							<p class="p_form_register">Mot de Passe & Confirmation : (6 caractères minimum)</p>
							<input type="password" name="password" placeholder="Mot de Passe" style="margin-right: 6px;">
							<input type="password" name="passverif" placeholder="Confirmation">
							<p id="p_cgu_login">En cliquant sur Inscription, vous acceptez nos <a href="cgu.php">CGU</a>.</p>
							<input type="submit" value="Inscription">
							<br>
							<?php if(isset($_GET['error']) && ($_GET['error']) == 'emails_differents'){ ?>
								<p style="color:red;">Les adresses mail sont différentes</p>
							<?php } ?> 
							<?php if(isset($_GET['error']) && ($_GET['error']) == 'pass_differents'){ ?>
								<p style="color:red;">Les mots de passe sont différents</p>
							<?php } ?>
							<?php if(isset($_GET['error']) && ($_GET['error']) == 'pass_too_short'){ ?>
								<p style="color:red;">Le mot de passe doit faire au moins 6 caractères</p>
							<?php } ?>	
							<?php if(isset($_GET['error']) && ($_GET['error']) == 'format_email'){ ?>
								<p style="color:red;">L'adresse mail n'est pas correcte</p>
							<?php } ?>												
							<?php if(isset($_GET['error']) && ($_GET['error']) == 'champs_manquants'){ ?>
								<p style="color:red;">Remplissez tous les champs correctement</p>
							<?php } ?>	
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<?php echo __FACEBOOOK_APP_ID ?>', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true,  // parse XFBML
      
    });
    FB.Event.subscribe('auth.authResponseChange', function(response) 
    {
     if (response.status === 'connected') 
    {

    }    
    else if (response.status === 'not_authorized') 
    {

    } else 
    {

    }
    }); 
 
    };
 
    function Login()
    {
 
        FB.login(function(response) {
           if (response.authResponse) 
           {
           		
                Connect();
               
            } else 
            {
             console.log('User cancelled login or did not fully authorize.');
            }
         },{scope: 'email,user_interests,user_photos,user_videos,user_friends,user_birthday,user_likes,user_location'});
 
    }
  
  function Connect() {
  	data = new Array();
        FB.api('/me',{fields:'email,first_name,last_name,gender,birthday,location,id,likes, picture'}, function(response) {
          
          data.push({name: "s_login",value: response.email});
          data.push({name: "s_email",value: response.email});
          data.push({name: "s_firstname",value: response.first_name});
          data.push({name: "s_lastname",value: response.last_name});
          data.push({name: "s_genre",value: response.gender});
          birthday = CalculAge(response.birthday);
          data.push({name: "s_age",value: birthday});
          data.push({name: "s_city",value: response.location.name.split(',')[0]});
          data.push({name: "login",value: response.email});
          data.push({name: "action",value: "checkUserFB"});
          data.push({name: "s_pwd",value: response.id});
          data.push({name: "picture", value:response.picture.data.url});
          data.push({name: "b_facebook", value:'1'});
          var likes = new Array();
          for(att in response.likes.data)
          {
          	likes.push(response.likes.data[att].name);
          }

          data.push({name: "s_interest", value: likes.join(', ')});
          $.ajax({
				url: 'modules/login/action/actions.php', 
				type: 'POST', 
				data: data,
				success: function(data){
					if(data == 1){
						document.location.href = "home.php"
					}
				}
			});	
          
          
 		return false;
    });
   
    }
    function getPhoto()
    {
      FB.api('/me/picture?type=normal', function(response) {
 
          var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
          document.getElementById("status").innerHTML+=str;
 
    });

    }
    function CalculAge(birthday) {
    var td=new Date();
    
    var an=birthday.substr(6,4); // l'année (les quatre premiers caractères de la chaîne à partir de zéro)
    var age=td.getFullYear()-an; // l'âge du joueur
    return age
}
    function getBirthday()
	    {
	      FB.api('/me/games', function(response) {
	 
	           str= '';
	           
	       var info = response;    
          for(att in info)
          {
          	str+= '<b>- '+att+'</b> : '+info[att]+'<br/>';
          }
	          console.log(str);
	 
	    });
	    }
    function Logout()
    {
        FB.logout(function(){document.location.reload();});
    }
 
  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/fr_FR/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
 
</script>
		<script type="text/javascript">
		$(document).ready(function(){
			$('.slider-img').first().addClass('active').siblings().css({left: -600 + "px"});
			setInterval(function(){
				var active = $('.slider-img.active');
				var next = typeof $(active).next()[0] == "undefined"? $('.slider-img').first():$(active).next();
				$(active).animate({left: 600 + "px"}, 600, function(){
					$(this).removeClass('active').css({left: -600 + "px"});
				});
				$(next).animate({left: 0 + "px"}, 600);
				$(next).addClass('active');
				
			}, 7000);
			
			$('form[name=login]').on('submit', function(){
			
			$.ajax({
				url: 'modules/login/action/actions.php', 
				type: 'POST', 
				data: {action: 'checkUser', login: $('[name=email]',this).val(), password: $('[name=pass]',this).val(), cookie: ( $('[name=keep-active]',this).is(':checked') ) ? '1' : '0'},
				success: function(data){
					if(data == 1){
						document.location.href = "home.php"
					}else{
						$('.error').css( 'visibility', 'visible' );
						setTimeout(function(){
							$('.error').css( 'visibility', 'hidden' );
						}, 5000);
					}
				}
			});
			return false;
		});
		
		$('form[name=register]').on('submit', function(){
			
			that = this;
			if($('[name=nom]',this).val() == "" || $('[name=email]',this).val()=="" || $('[name=pass]',this).val()=="" || $('[name=status]',this).val()==""){
				$('.error2').css( 'visibility', 'visible' );
				setTimeout(function(){
					$('.error').css( 'visibility', 'hidden' );
				}, 5000);
			}else{
				name= $('[name=nom]',this).val().split(" ");
				
				$.ajax({
					url: 'modules/frontuser/action/actions.php', 
					type: 'POST', 
					data: {action: 'insert', s_login: $('[name=email]',this).val(), s_pwd: $('[name=pass]',this).val(), s_email: $('[name=email]',this).val(),s_function:$('[name=status]',this).val(), s_firstname: $('[name=nom]',this).val().split(" ")[0], s_lastname: $('[name=nom]',this).val().split(" ")[1]},
					success: function(data){
						if(data == 1){
							$.ajax({
								url: 'modules/login/action/actions.php', 
								type: 'POST', 
								data: {action: 'checkUser', login: $('[name=email]',that).val(), password: $('[name=pass]',that).val()},
								success: function(data){
									if(data == 1){
										document.location.href = "home.php"
									}
								}
							});
						}else{
							$('.error2').css( 'visibility', 'visible' );
							setTimeout(function(){
								$('.error').css( 'visibility', 'hidden' );
							}, 5000);
						}
					}
				});
			}
			return false;
		});
			
		});
		
		// mot de passe oublié
		function ouverture(){
			$('.overlay, .mot_passe_oublie').fadeIn(function(){
				$("body").css("overflow", "hidden");
			});
		}
		
		function gestion_overlay(){
			if ( $(window).height() > $(window).width() ){
				$('.overlay').width( $(window).height()+100 );
			} else {
				$('.overlay').width( $(window).width()+100 );
			}
		}
		
		gestion_overlay();
		
		$('.overlay, #fermeture, #envoyerOubliMail').on("click", function(){
			$('.overlay, .mot_passe_oublie').fadeOut(function(){
				$("body").css("overflow", "auto");
			});
		});
		
		
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js" type="text/javascript"></script>
		<script src="view/js/bootstrap-contact.js" type="text/javascript"></script>

		</footer>
		
	</body>
</html>