<?php 
$edit = "edit_profil.php";
$logout = "logout.php";
$register = "register.php";
$login = "login.php";


$connected = "<a href=\"".$edit."\">Modifier mes informations personnelles</a><br/>
<a href=\"".$logout."\">Se d&eacute;connecter</a>";

$disconnected = "<a href=\"".$register."\">Inscription</a><br/>
<a href=\"".$login."\">Se connecter</a><br/>";


//si l'utilisateur n'est pas connecté
if (utilisateur_est_connecte())
{
	echo $connected;

$req = $db->prepare('SELECT * FROM users WHERE username = :username ');
$req->execute(
	array(
		'username' => $_SESSION['username']
		)
	);

while ($datas = $req->fetch())
{
	?>
		<p>
		<strong>Profil</strong> : <?php echo htmlspecialchars($datas['username']); ?><br/>
		Prénom : <?php echo htmlspecialchars($datas['first_name']); ?><br/>
		Nom : <?php echo htmlspecialchars($datas['last_name']); ?><br/>
		Experience : <?php echo htmlspecialchars($datas['xp']); ?><br/>
		Lycée : <?php echo $datas['lycee']; ?><br/>
		Classe : <?php echo htmlspecialchars($datas['classe']); ?><br/>
		Age : <?php echo htmlspecialchars($datas['age']); ?><br/>
		Email : <em><?php echo htmlspecialchars($datas['email']); ?></em><br/>
		Photo : <?php echo htmlspecialchars($datas['picture']); ?>
		</p>
	<?php
	}

	$req->closeCursor(); // Termine le traitement de la requête
}
else
{
	//Sinon, on lui donne un lien pour sinscrire et un autre pour se connecter
	echo $disconnected;
	echo "Vous devez être connecté pour avoir un profil";
}