<?php 

//si l'utilisateur est connecté
if (utilisateur_est_connecte())
{
$req = $db->prepare('SELECT * FROM users WHERE username = :username ');
$req->execute(
	array(
		'username' => $_GET['username']
		)
	);

while ($infos = $req->fetch(PDO::FETCH_ASSOC))
{

	$user_id = $infos['id'];
	$user_username = $infos['username'];
	$user_first_name = $infos['first_name'];
	$user_last_name = $infos['last_name'];
	$user_sexe = $infos['sexe'];
	$user_email = $infos['email'];
	$user_xp = $infos['xp'];
	$user_has_uploaded = $infos['has_uploaded'];
	$user_profil_complete = $infos['profil_complete'];
	$user_picture = $infos['picture'];
	?>
<!-- PROFIL -->
<div id="profil">
	<div class="container" id="profile_header">
		<div class="row">
			<div class="col-md-3">
				<img src="<?php echo $user_picture; ?>" id="profil_picture">
			</div><!-- photo -->
			<div class="col-md-6">
				<h4><?php echo $user_username; ?></h4><br/>
				<?php if($infos['winner'] == 1){ ?>
					<p>Grade : Custo Winner</p>
				<?php } ?>
				<p> XP : <?php echo $user_xp; ?></p>
			</div><!-- pseudo/lvl/experience -->
			<div class="col-md-3">		
				<div id="profil_classement">
					<div id="profil_classement_title">
						<h3>Classement :</h3>
					</div>
					<!-- !profil_classement_title -->
					<div id="profil_classement_content">
						<ul>
							<?php 
							$i = 1;
							foreach ($clsmnt as $key => $value) { 
							?> 
							<li>
								<?php echo $i .'. '?><a href="profil.php?username=<?php echo $value['username']; ?>" style="color:#2d3e50;"><?php echo$value['username']?></a><?php echo ' - '.$value['xp'].'xp'; ?></p>
							</li>
							<?php 
							$i <= $i++;
							} ?>
						</ul>
					</div>
					<!-- !profil_classement_content -->
				</div>
				<!-- !profil_classement -->
			</div>
			<!-- classement col-md-3 -->
		</div>
		<!-- !row -->
	</div>
	<!-- !container !profile_header -->
	
	<!-- !profil_custuser -->
	<div id="profil_custuser" class="container">
		<div class="row">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active" id="informations_titre">
					<a href="#home" data-toggle="tab">
						<div class="infos_title col-md-4">
							Informations
						</div>
					</a>
				</li>
				<li>
					<a href="#modif_infos" data-toggle="tab">
						<div class="infos_title col-md-4">
							<?php if($_SESSION['username'] == $_GET['username']){ ?>
							Modifier mes infos
							<?php }else{ ?>
							Vidéos
							<?php } ?>
						</div>
					</a>
				</li>
				<li class="dropdown" id="recompenses_titre">
					<a href="#" id="myTabDrop1" class="dropdown-toggle"	data-toggle="dropdown">
						<div class="infos_title col-md-4">
							Récompenses <b class="caret"></b>
						</div>
						
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
						<li>
							<a href="#badges" tabindex="-1" data-toggle="tab">
								Badges
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- !row -->
		<div id="myTabContent" class="tab-content">
			<div id="profil_infos_custuser">
				<div class="tab-pane fade in active" id="home">
				<p>
					<div class="row">
						<div class="col-md-4">
							<div class="field_description">Prénom :</div>
							<div class="field_content_stronk"><?php echo htmlspecialchars($user_first_name); ?></div>
						</div>
						
						<div class="col-md-4 unset">
						</div>
						
						<div class="col-md-4">		
							<div class="field_description">Nom :</div>
							<div class="field_content_stronk"><?php echo htmlspecialchars($user_last_name); ?></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4">
							<div class="field_description">Pseudo :</div> 
							<div class="field_content_stronk"><?php echo htmlspecialchars($user_username); ?></div>
						</div>
						
						<div class="col-md-4 unset">
						</div>
						
						<div class="col-md-4">
							<div class="field_description">Experience :</div> 
							<div class="field_content_stronk"><?php echo htmlspecialchars($user_xp); ?></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4">
							<div class="field_description">Lycée :</div> 
							<div class="field_content_stronk"><?php echo $infos['lycee']; ?></div>
						</div>
						
						<div class="col-md-4 unset">
						</div>
						
						<div class="col-md-4">
							<div class="field_description">Classe :</div>  
							<div class="field_content_stronk"><?php echo $infos['classe']; ?></div>
						</div>
					</div>
					
					<div class="row">				
						<div class="col-md-4">
							<div class="field_description">Age :</div> 
							<div class="field_content_stronk"><?php echo htmlspecialchars($infos['age']); ?></div>
						</div>
						
						<div class="col-md-4 unset">
						</div>
						
						<div class="col-md-4">	
							<div class="field_description">Email : <em></div>
							<div class="field_content_stronk"><?php echo htmlspecialchars($user_email); ?></div></em>
						</div>
					</div>
				</p>
				</div>
				<?php if($_SESSION['username'] == $_GET['username']){ ?>
					<div class="tab-pane fade formulaire" id="modif_infos">
						<div>
							<form action="edit_profil.php" method="post">
								
								<div class="row">
								<div class="col-md-4 unset"></div>
									<div class="col-md-4">
										<div class="field_description">Pseudo : </div>
										<div class="field_content"><input type="text" name="username" value="<?php echo htmlspecialchars($infos['username']); ?>"></div>
									</div>
								<div class="col-md-4 unset"></div>
								</div>
								
								<div class="row">
									<div class="col-md-4">
										<div class="field_description">Prénom : </div>
										<div class="field_content"><input type="text" name="first_name" value="<?php echo htmlspecialchars($infos['first_name']); ?>"></div>
									</div>
									<div class="col-md-4 unset"></div>
									<div class="col-md-4">
										<div class="field_description">Nom : </div>
										<div class="field_content"><input type="text" name="last_name" value="<?php echo htmlspecialchars($infos['last_name']); ?>"></div>
									</div>				
								</div>						
								<div class="row">
									<div class="col-md-4">
										<div class="field_description">Mot de Passe : (>6 caractères)</div>
										<div class="field_content"><input type="password" name="password" value="<?php echo htmlspecialchars($infos['password']); ?>"></div>
									</div>
									<div class="col-md-4 unset"></div>
									<div class="col-md-4">
										<div class="field_description">Confirmation : </div>
										<div class="field_content"><input type="password" name="passverif" value="<?php echo htmlspecialchars($infos['password']); ?>"></div>
									</div>		
								</div>		

								<div class="row">
									<div class="col-md-4">						
										<div class="field_description">E-mail : </div>
										<div class="field_content"><input type="mail" name="email" value="<?php echo htmlspecialchars($infos['email']); ?>"></div>
									</div>
									<div class="col-md-4 unset"></div>
									<div class="col-md-4">
										<div class="field_description">Confirmation : </div>
										<div class="field_content"><input type="email" name="mailverif" value="<?php echo htmlspecialchars($infos['email']); ?>"></div>
									</div>		
								</div>		

								<div class="row">
									<div class="col-md-4">
										<div class="field_description">Lycée : </div>
										<div class="field_content"><input type="text" name="lycee" value="<?php echo $infos['lycee']; ?>"></div>
									</div>
									<div class="col-md-4 unset"></div>
									<div class="col-md-4">
										<div class="field_description">Classe : </div>
										<div class="field_content"><input type="text" name="classe" value="<?php echo $infos['classe']; ?>"></div>
									</div>		
								</div>		
								<input type="submit" value="Modifier" class="valider"><p class="cancel"><a href="profil.php" type="button">Annuler</a><br/>Veillez à ne pas laisser de champ vide. Merci</p>
							</form>
						</div>
					</div>
					<?php }else{ ?>
					<div class="tab-pane fade" id="modif_infos">
						<div id="last_vids">
							<div class="row" style="margin-left: 0px; margin-right: 0px;">				
								<div id="last_vids_content">
								<?php
									$req = $db->prepare('SELECT * FROM videos WHERE auteur = :auteur');
									$req->execute(
										array(
											'auteur' => $_GET['username'],
											)
										);
										while ($datas = $req->fetch())
									{
										if( $datas['validation'] == 'ok'){
								?>
							 <div class="col-md-3" style="background-color:#fff;">
							 	<a href="video.php?id=<?php echo $datas['id'];?>">
							 	<h3 style="color:#000;"><?php echo $datas['title']; ?></h3>
								<img src="view/img/footer/picto_video.png">
							 	<h4><?php echo $datas['auteur']; ?></h4>
							 	</a>
							 </div>
							<?php
										}
									}
							?>	
								</div>
							</div>
							<!-- !row -->
						</div>
						<!-- !last_vids -->
					</div>	
				<?php }

				$req = $db->prepare('SELECT * FROM users WHERE username = :username ');
				$req->execute(
					array(
						'username' => $_GET['username']
						)
					);

				while ($datas = $req->fetch(PDO::FETCH_ASSOC)){

				 ?>
				<div class="tab-pane fade badges" id="badges">
					<p>Badges débloqués :</p>
					<div class="row">
						<?php if($datas['home'] == '1'){ ?>
							<div class="col-md-2">
								<img src="view/img/badges/Home.png" alt="Remplir son profil"> <br>
								<p>Profil complet</p>
							</div>
						<?php } ?>
						<?php if($datas['fanfaron'] == '1'){ ?>
							<div class="col-md-2">
								<img src="view/img/badges/fanfaron.png" alt="Publier une vidéo - Bronze"> <br>
								<p>Fanfaron</p>
							</div>
						<?php } ?>
						<?php if($datas['informateur'] == '1'){ ?>
							<div class="col-md-2">
								<img src="view/img/badges/informateur.png" alt="Publier une vidéo - Argent"> <br>
								<p>Informateur</p>
							</div>
						<?php } ?>
						<?php if($datas['papa'] == '1'){ ?>
							<div class="col-md-2">
								<img src="view/img/badges/papa.png" alt="Publier une vidéo - Or"> <br>
								<p>Papa</p>
							</div>
						<?php } ?>
						<?php if($datas['explorateur'] == '1'){ ?>
							<div class="col-md-2">
								<img src="view/img/badges/explorateur.png" alt="Regarder une vidéo"> <br>
								<p>Explorateur</p>
							</div>
						<?php } ?>
						<?php if($datas['winner'] == '1'){ ?>
							<div class="col-md-2">
								<img src="view/img/badges/winner.png" alt="Être un custo winner"> <br>
								<p>Custo Winner</p>
							</div>	
						<?php } ?>			
					</div>
				</div>
				<?php } ?>
			</div>
		</div>
		<!-- myTabContent -->
<script>
		$(function () {
		$('#myTab li:eq(1) a').tab('show');
		});
</script>
	</div>

<?php if($_SESSION['username'] == $_GET['username']){ ?>	
	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div id="last_vids">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">			
				<div class="col-md-4"></div>
					<h2 class="col-md-4 orange_div">Dernières vidéos</h2>
				<div class="col-md-4"></div>
			</div>
			<!-- !row -->
			<div class="row" style="margin-left: 0px; margin-right: 0px;">
				<div id="last_vids_content">

								<?php
									$req = $db->prepare('SELECT * FROM videos WHERE auteur = :auteur');
									$req->execute(
										array(
											'auteur' => $_GET['username'],
											)
										);
										while ($datas = $req->fetch())
									{
										if( $datas['validation'] == 'ok'){
								?>
							 <div class="col-md-3" style="background-color:#fff;">
							 	<a href="video.php?id=<?php echo $datas['id'];?>">
							 	<h3 style="color:#000;"><?php echo $datas['title']; ?></h3>
								<img src="view/img/footer/picto_video.png">
							 	<h4><?php echo $datas['auteur']; ?></h4>
							 	</a>
							 </div>
							<?php
										}
									}
							?>
				
				</div>
			</div>
			<!-- !row -->
		</div>
		<!-- !last_vids -->
	</div>
	<!-- !container -->
	<?php } ?>	
</div>
<!-- !Profil -->

<?php
}

$req->closeCursor(); // Termine le traitement de la requête
	
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

}