<?php 

// Image de profil
$req = $db->prepare('SELECT * FROM users WHERE username = :username ');
$req->execute(
	array(
		'username' => $_GET['username']
		)
	);

while ($datas = $req->fetch(PDO::FETCH_ASSOC))
{

	$user_id = $datas['id'];
	$user_username = $datas['username'];
	$user_first_name = $datas['first_name'];
	$user_last_name = $datas['last_name'];
	$user_sexe = $datas['sexe'];
	$user_email = $datas['email'];
	$user_xp = $datas['xp'];
	$user_has_uploaded = $datas['has_uploaded'];
	$user_profil_complete = $datas['profil_complete'];


		if($user_xp <= 99){
			$user_picture = 'view/img/profiles/wood.png';
		}elseif ($user_xp >= 100 && $user_xp <= 249) {
			$user_picture = 'view/img/profiles/bronze.png';
		}elseif ($user_xp >= 250 && $user_xp <= 599) {
			$user_picture = 'view/img/profiles/silver.png' ;
		}elseif ($user_xp >= 600 && $user_xp <= 999) {
			$user_picture = 'view/img/profiles/gold.png';
		}elseif ($user_xp >= 1000 && $user_xp <= 1999) {
			$user_picture = 'view/img/profiles/diam.png';
		}elseif ($user_xp >= 2000) {
			$user_picture = 'view/img/profiles/killer.png';
		}

		$request = $db->prepare('UPDATE users 
		SET picture = :picture WHERE username = :username');
			
			$request->execute(
			array(
				'picture' => $user_picture,
				'username' => $user_username,
				)
			);
		}
// Has uploaded
$req = $db->prepare('SELECT validation, auteur FROM videos WHERE auteur = :auteur ORDER BY validation DESC LIMIT 0,1');
$req->execute(
	array(
		'auteur' => $_SESSION['username'],
		)
	);

	$datas = $req->fetch();
			
		if ($datas['validation'] != 'nope' OR $datas['validation'] != 'En cours'){
			
		
		$req = $db->prepare('SELECT * FROM users WHERE username = :username ');
		$req->execute(
			array(
				'username' => $_SESSION['username']
				)
			);						
			$request = $db->prepare('UPDATE users 
									SET has_uploaded = :has_uploaded
									WHERE username = :username');
				
			$request->execute(
			array(
				'has_uploaded' => '1',
				'username' => $user_username,
				)
			);

// Badge Fanfaron
		if ($user_xp >= 100){
			$request = $db->prepare('UPDATE users 
									SET fanfaron = :fanfaron
									WHERE username = :username');
				
			$request->execute(
			array(
				'fanfaron' => '1',
				'username' => $user_username,
				)
			);
		}
	// Badge informateur 
		if($user_xp >=250){
			$request = $db->prepare('UPDATE users 
									SET informateur = :informateur
									WHERE username = :username');
				
			$request->execute(
			array(
				'informateur' => '1',
				'username' => $user_username,
				)
			);			
		}
	// Badge papa
		if($user_xp >=600){
			$request = $db->prepare('UPDATE users 
									SET papa = :papa
									WHERE username = :username');
				
			$request->execute(
			array(
				'papa' => '1',
				'username' => $user_username,
				)
			);			
		}		
	}


// Badge Winner
$req = $db->prepare('SELECT * FROM users WHERE username = :username');
$req->execute(
	array(
		'username' => $_SESSION['username']
		)
	);

while ($datas = $req->fetch(PDO::FETCH_ASSOC))
{

		if($datas['explorateur'] == '1' && $datas['fanfaron'] == '1' && $datas['home'] == '1' && $datas['informateur'] == '1' && $datas['papa'] == '1'){ 

			$request = $db->prepare('UPDATE users 
									SET winner = :winner
									WHERE username = :username');
				
			$request->execute(
			array(
				'winner' => '1',
				'username' => $user_username,
				)
			);
		}
	}
?>