<form action="register.php" method="post">
	Prénom: <input type="text" name="first_name"><br/>
	Nom: <input type="text" name="last_name"><br/>
	Pseudo: <input type="text" name="username"><br/>
	Mot de Passe: <input type="password" name="password"><br/>
	E-mail: <input type="mail" name="email"><br/>
	Garçon<input type="radio" name="sexe" value="garcon"><br/>
	Fille<input type="radio" name="sexe" value="fille"><br/>
	Date de naissance: <input type="text" name="birthday"><br/>
	Lycée: <input type="text" name="lycee"><br/>
	Classe: <input type="text" name="classe"><br/>
	<input type="submit" value="Inscription">
</form>

<p>Deja inscrit ? <a href="login.php">Connecte-toi</a></p>