<div id="regles_du_jeu">
	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div class="row title_sides">			
			<div class="col-md-3"></div>
				<h2 class="col-md-6 orange_div">Règles du jeu Custorial Game</h2>
			<div class="col-md-3"></div>
		</div>

		<div class="rdj_content">
			<div class="container">
				<p class="rdj">Le but du jeu est simple, gagne les différents badges en remportant des points et tente de gagner les lots mis en jeu !</p>
				<br>
				<p>Voici les différents niveaux que tu peux atteindre en remportant des points d'xp : </p>
				<br>
			</div>
			<!-- !container -->
			<div class="row">
				<div class="col-md-2">
					<p>Custo en herbe :</p>
					<p>0-99 points</p>
					<img src="view/img/profiles/wood.png" alt="niveau custo en herbe">
				</div>
				<div class="col-md-2">
					<p>Bronze : </p>
					<p>100-259 points</p>
					<img src="view/img/profiles/bronze.png" alt="niveau bronze">
				</div>
				<div class="col-md-2">
					<p>Argent : </p>
					<p>250-599 points</p>
					<img src="view/img/profiles/silver.png" alt="niveau argent">
				</div>
				<div class="col-md-2">
					<p>Or : </p>
					<p>600-999 points</p>
					<img src="view/img/profiles/gold.png" alt="niveau or">
				</div>
				<div class="col-md-2">
					<p>Diamant : </p>
					<p>1000-1999 points</p>
					<img src="view/img/profiles/diam.png" alt="niveau diamant">
				</div>
				<div class="col-md-2">
					<p>Custo Winner : </p>
					<p>+2000 points</p>
					<img src="view/img/profiles/killer.png" alt="niveau custo winner">
				</div>
			</div>
			<!-- !row -->
			<br>
			<div class="container">
				<p>Pour remporter des points, c'est simple ! Il te suffit d'accomplir certaines missions et le tour est joué. Voici les actions qui te permettront de remporter de l'xp : </p>
				<ul>
					<li>
						<p>- Inscris-toi et complète ton profil : 100 points (Inscription via Facebook disponible)</p>
					</li>
					<li>
						<p>- Uplaod une vidéo sur l'un de tes cours : 150 points</p>
					</li>
				</ul>
				<br>
				<p>Partage tes actions et ta progression ! <br> Invite tes amis !</p>
				</p>
				<br>
				<p>
					Prends garde, tu ne pourras pas accéder au badge diamant si tu n'upload pas une vidéo...
				</p>
				<br>
				<p>
					Si tu arrives jusqu'au rang de Custo Winner, tu pourras bénéficier d'avantages. Les points des actions que tu effectueras seront doublés !</p>
				<br>
				<p>
					A toi de jouer !
				</p>
			</div>
			<!-- !container -->
		</div>
		<!-- !rdj_content -->
	</div>
	<!-- !container -->
</div>
<!-- !regles_du_jeu -->