<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Règlement Custorial Game</title>

	<style type="text/css">
	.savoir_plus, .savoir_plus * {
		color:#000;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:13px;
	}
	.savoir_plus h1, .savoir_plus h1 * {
		font-size:20px;
		font-family:Tahoma, Geneva, sans-serif;
		line-height: normal;
	}
	.savoir_plus h2, .savoir_plus h2 * {
		font-size:18px;
		font-family:Tahoma, Geneva, sans-serif;
		color:#000;
	}
	.savoir_plus h3, .savoir_plus h3 * {
		font-size:16px;
		font-family:Tahoma, Geneva, sans-serif;
	}
	</style>
</head>
<body>
	<div class="savoir_plus">
		<div class="container">
			<div align="center"><p>EN SAVOIR PLUS</p><br/>
			</div>
			<div class="content">
				<strong>Qu’est-ce que « Custorial » ?</strong>
				<p>Custorial n’existe pas encore, nous sommes à la recherche d’investisseur afin de pouvoir proposer notre projet ! Le but de ce jeu concours est de tester le service auprès de notre public. 
				Custorial sera un site communautaire novateur pour les lycéens.  Il a pour ambition de favoriser le goût pour les études. Il vient en complément de l’enseignement traditionnel comme du e-learning.
				Le contenu sera créé par les lycéens : les élèves produisent des tutoriaux vidéos mis à disposition d’autres élèves. Les élèves parlent aux élèves : l’accès aux matières scolaires est facilité par les élèves eux-mêmes. La création de tutoriaux sera rétribuée par les cadeaux de toutes sortes afin d’encourager les utilisateurs.
				La valeur ajoutée de Custorial ? 
				Le site proposera un programme personnalisé pour combler les lacunes des années précédentes (apprentissage en gruyère) afin d’adapter le programme à l’élève et pas le contraire !
				Parcours individualisé (planning, coaching, suivi, tests personnalisés) : Afin de connaître le niveau réel de l’élève, diagnostic et prescription, rajouter un portfolio avec toutes les compétences qu’il aura acquises sur la plateforme au bulletin scolaire.
				Le site contrôlera la véracité des contenus crée par les utilisateurs.</p>
				<strong>D’où vient le nom ?</strong> 
				Customized Tutorial c’est aussi simple que ça !
				<strong>Quand Custorial sera disponible ?</strong> 
				<p>Courant 2015 !</p>
			</div>
		</div>
	</div>
</body>
</html>
