<div id="upload">
	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div id="vid_upload">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">			
				<div class="col-md-4 title_sides"></div>
					<h2 class="col-md-4 orange_div">Importe ta vidéo</h2>
				<div class="col-md-4 title_sides"></div>
			</div>

			<div id="vid_upload_content_form">
				<form method="POST" action="upload.php" enctype="multipart/form-data" name="demoFiler" id="demoFiler">
					<input type="file" name="custo" id="multiUpload" multiple style="height:40px;"/>
					<input type="hidden" name="MAX_FILE_SIZE" value="25000000000">
					<div class="progressBar">
					<div class="status"></div>
				</div>
				<!-- On limite le fichier à 100Ko -->
				

			</div>
			<!-- !vid_upload_content -->
		</div>
		<!-- !vid_upload -->

		<div id="infos_upload">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">			
				<div class="col-md-4 title_sides"></div>
					<h2 class="col-md-4 orange_div">Infos sur la vidéo</h2>
				<div class="col-md-4 title_sides"></div>
			</div>
	
				<div class="form">
					<div id="infos_upload_content">	
						<div class="row">
							<div class="col-md-12">
								<input type="text" name="title" placeholder="Titre de la vidéo :"><br/>
							</div>
							<!-- !col-md-12 -->
						</div>
						<div class="row">
							<div class="col-md-3">
								<select name="cat_name"><p>Matière :</p><br/>	
									<?php
										$req = $db->prepare('SELECT * FROM videos_categories ORDER BY cat_name ASC');
										$req->execute(
											array());
										while ($category = $req->fetch(PDO::FETCH_ASSOC))
										{
											?>
									<option>
										<?php echo $category['cat_name']; ?>
									</option>					
									<?php } ?>
								</select><br/>
								<select name="grade_name"><p>Classe</p><br/>
									<?php 
										$req = $db->prepare('SELECT * FROM videos_grades ORDER BY grade_name ASC');
										$req->execute(
											array());
										while ($grade = $req->fetch(PDO::FETCH_ASSOC))
										{
											?>
									<option>
										<?php echo $grade['grade_name']; ?>
									</option>					
									<?php } ?>
								</select>
							</div>
							<!-- !col-md-3 -->
							<div class="col-md-9">
								<textarea rows="5" cols="50" id="valider" name="description" placeholder="Description de la vidéo :" size="4"></textarea><br/>
							</div>
							<!-- !col-md-9 -->
						</div>
						<!-- !row -->
					</div>
					<!-- !infos_upload_content -->						
				<input type='submit' name="envoyer" value=' '>
			</div>
			</form>

		</div>
		<!-- !infos_upload -->
	</div>
	<!-- !container -->
</div>
<!-- !upload -->