<div id="upload">
	<?php
					$req = $db->prepare('SELECT * FROM videos WHERE id = :id');
					$req->execute(
						array(
							'id' => $_GET['id'],
							)
						);


						while ($datas = $req->fetch())
						{	

	?>	
	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<div id="post_upload">
			<div id="vid_upload">
				<div class="row title_sides">			
					<div class="col-md-4"></div>
						<h2 class="col-md-4 orange_div"><?php echo $datas['title']; ?></h2>
					<div class="col-md-4"></div>
				</div>
				<div id="vid_upload_content">
					<embed width="100%" height="100%" name="plugin" src="upload/<?php echo $datas['filename']; ?>" type="video/x-ms-wmv" autoplay="false">
				</div>
				<!-- !vid_upload_content -->

				<div id="infos_upload">
					<div id="infos_upload_content">	
						<div class="row">
							<div class="col-md-3">
									<p><?php echo $datas['category']; ?>, <?php echo $datas['grade']; ?></p><br>
									<p>Auteur : <a href="profil.php?username=<?php echo $datas['auteur']; ?>"><?php echo $datas['auteur']; ?></a></p>
							</div>
							<!-- !col-md-3 -->
							<div class="col-md-9">
								<p>Description :<br/>
								<?php echo $datas['description']; ?></p>
							</div>
							<!-- !col-md-9 -->
						</div>
						<!-- !row -->
					</div>
					<!-- !infos_upload_content -->
				</div>
				<!-- !infos_upload -->
			</div>
			<!-- !vid_upload -->

			
	<?php
							}//Fin de la récup infos de la vidéo

	if (utilisateur_est_connecte()) 
	{
		$req = $db->prepare('SELECT * FROM users WHERE username = :username ');
		$req->execute(
			array(
				'username' => $_SESSION['username']
				)
			);						
			$request = $db->prepare('UPDATE users 
									SET explorateur = :explorateur
									WHERE username = :username');
				
			$request->execute(
			array(
				'explorateur' => '1',
				'username' => $_SESSION['username'],
				)
			);
	}

	?>		
		</div>
	</div>
	<!-- !container -->
</div>
<!-- !upload -->