/* BODY */
	body{
	}

/************************************************/

/* HEADER */
	#header{
		width: 100%;
		min-height: 190px;
		background-color: #fff;
	}
	#header #logo{
		padding-left:30px;
		padding-top:30px;
		float: left;
	}
	#header #custogame{
		margin: 80px 73px auto 0;
	}
	#header .disconnect{
		float: right;
		padding-top: 30px;
		padding-right: 10px;
	}
/************************************************/

/* MENU */
	#menu{
		width: 100%;
		min-height: 50px;
		background-color: #1a2938;
	}
	#menu ul{
		height: 100%;
		margin-bottom: 0;
	}
	#menu ul li{
		 display: inline-block;
		 height: 100%;
		 width: 12%;
		 padding: 15px 0;
		 text-decoration: none;
		 color:#fff; 
	}
	#menu ul li:hover{
		background-color: #16a086;
	}
	#menu ul li a{
		color: #fff;
		cursor: pointer;
	}

	@media screen and (max-width: 600px) {
		#menu ul li{
			display: table-cell;	
		}	
	}
/************************************************/

/* INDEX */
	#index{
		background-color: #2d3e50;
		width: 100%;
	}
		/***/ /* Vidéo de présentation */ /***/
	#player_vid_pres{
		height: 500px;
		width: 100%;
		background-color: #000;
	}
	#vid_pres #concept_custo{
		width: 100%;
		height: 100%;
	}
	#descri_vid_pres{
		width: 100%;
		height: 55px;
		text-align: center;
		color: #fff;
		background-color: #1a2938;
		font-size: 2em;
	}
	#descri_vid_pres{	
		padding-top: 7px;
	}
	#index .bluebox{
			height: 55px;
			padding: 8px 7px 0px;
			margin: auto;
			margin-top: 25px;
			text-align: center;
			background-color: #16a086;
			color: #fff;
	}
	#pitch_container{
		margin-top: 30px;
		background: #2d3e50;
	}
	#pitch_title{
		padding-left: 0px; 
		padding-right: 0px;
	}

	#pitch_title h2{
		font-weight: 400;
		color: #fff;
	}
	.pitch_sides{
		height: 55px; 
		padding-top: 0px; 
		padding-right: 0px; 
		padding-left: 0px; 
		margin-top: 25px; 
		background: #192938;
	}
	.pitch{
		padding: 30px 22px;
		margin: 0px;
		background-color: #192938;
		color: #fff;
		text-align: left;
	}
		/***/ /* Dernières vidéos */ /***/
	#last_vids{
		background-color: #192938;
		width: 100%;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}
	#last_vids h2{
		padding: 10px 0 10px;
		margin: auto 0;
		color: #fff;
	}
	#index #last_vids_content{
		background-color: #fff;
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
	#last_vids_content{
		bottom: 0;
	}
	#last_vids_content h3{
		color: #000;
		margin-top: 10px;
	}
	#last_vids_content img{

	}
	#last_vids_content h4{
		bottom: 0;
	}
	#last_vids_content .col-md-3{
		padding: 0px 5px 12%;
		height: 200px;
	}
		/***/ /* A toi de jouer */ /***/
	#your_turn{
		padding: 40px 0 60px;
		margin:auto 0;
		font-size: 2em;
	}
/************************************************/

/* PROFIL foncé : #192938, clair :#2d3e50  */
	#profil{
		overflow: auto;
		background-color: #2d3e50;
		margin-top: -20px;
		padding-top: 20px;
	}
	/***/ /* Classement */ /***/
	#profil #profil_classement{
		width: 80%;
		border-radius:20px;
		background-color: ;
		color: #fff;
	}
	#profil #profil_classement_title{
		background-color: #192938;
		padding: 5px 0 10px 0;
		text-align:center;
		border-radius: 20px 20px 0 0;
	}
	#profil #profil_classement_content{
		background-color: #eaeaea;
		padding: 15px 0 10px 0;
		text-align:center;
		border-radius: 0 0 20px 20px;
		color: #000;
	}
		/***/ /* Bloc onglets+infos utilisateur */ /***/
	#profil #profil_custuser{
		background-color: #192938;
		padding: 0 10px 10px;
		margin: 25px auto;
		overflow: auto !important;
	}
	#profil #profil_custuser #myTab a:hover{
		background-color: #16a086;
	}
	#profil .nav{
		
	}
		/***/ /* Textes */ /***/
	#profil #profil_custuser h3{
		color: #fff;
	}
	#profil .col-md-6 h4{
		font-size: 40px;
		color: #fff;
	}
	#profil .col-md-6{
		font-size: 2em !important; 
		color: #fff;
	}
	#profil #profil_custuser .col-md-4{
		text-align: center;
		margin: 0 15px;
		width: 30%
	}
	#profil #profil_custuser #myTab .nav-tabs .col-md-4:hover{
		background-color: #16a086;
	}
	#profil #profil_custuser p{
		margin-bottom: 0px;
	}
		/***/ /* Bloc infos */ /***/
	#profil #profil_infos_custuser{
		background-color: #2d3e50;
		color: #fff;
	}
	#profil .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: #16a086;
	}
	#profil .nav-tabs > li {
		width: 28%;
		height: 50px;
		margin: 0;
	}
	#profil #myTab{
		margin: 0 auto;
		border: none;
	}
	#profil .nav-tabs > li > a {
		border: 1px solid transparent;
		border-radius: 0;
		line-height: 1.42857;
		margin-right: 2px;
		width: 100%;
		height: 100%;
		color: #fff;
	}
	#profil .infos_title, #profil #myTab .col-md-4{
		width: 100%;
		height: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#profil #myTab .infos_title{
		padding-top: 3px;
	}
	#profil #informations_titre{
		margin-left: 8%;
	}
	#profil #recompenses_titre{
		margin-right: 8%;
	}
	#profil #myTabContent .field_description{
		text-align: left;
	}
	#profil .field_content_stronk{
		border: solid 1px #16a086;
		margin-bottom: 20px;
		padding: 6px 0;
		color: #fff;
	}
	#profil .field_content{
		background-color: #192938;
		border: solid 1px #16a086;
		margin-bottom: 20px;
		padding: 6px 0;
		color: #fff;
	}
	#profil .field_content input{
		background-color: #192938;
		color: #fff;
		border: none;
		text-align: center;
		width: 100%;
	}
	#profil .valider{
		background-color: #2d3e50;
		color: #25b6ae;
		border:none;
		width:100px;
		padding: 0;
		margin-top: 18px;
		border: solid 1px #16a086;
		border-radius: 2px;
		height: 30px;
	}
	#profil .cancel{
		padding-top: 8px;
	}
	#profil .cancel a{
		padding-bottom: 8px;
	}
	#profil #myTabContent .row{
	 padding-top: 25px; 
	}
	#profil #myTabContent .unset{
		border: none;
	}
	#profil .fade {
		display: none;
		opacity: 0;
	  -webkit-transition: opacity .15s linear;
	       -o-transition: opacity .15s linear;
	          transition: opacity .15s linear;	
	}
	#profil .fade.in {
		display: block;
		opacity: 1;
	}
	#profil #badges{
		padding-bottom: 10px;
	}
	#profil #badges img{
		height: 128px;
		padding: 0 20px;
	}

	#profil #last_vids_content{
		background-color: #000;
		height: 200px;
		width: 100%;
		overflow: auto;
		color: #fff;
	}

	#profil #profil_picture{
		width:80%;

	}
/************************************************/

/* RECHERCHE & POST RECHERCHE */

	/***/ /* Upload vidéo */ /***/
	#discover{
		width: 100%;
		color: #fff;
	}
	#discover #recherche{
		background:url('../img/pictos/picto_loupe.png') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 350px;
	}
	#discover #recherche h2{
		margin: 0;
		padding: 20px 0;
	}
	#discover .bluebox{
			width: 150px;
			height: 55px;
			margin: auto;
			margin-top: 25px;
			text-align: center;
			background-color: #16a086;
			color: #fff;
			
			border:solid #000;
			border-width:  0 2px 2px 0;
	}
	#discover input{
		color: #000;
	}
	#discover select{
		color: #000;
	}
/************************************************/

/* UPLOAD & POST UPLOAD */

	/***/ /* Upload vidéo */ /***/
		#upload{
			background-color: #2d3e50;
			width: 100%;
			color: #fff;
			padding-top: 30px;
		}
		.title_sides{
			background-color: #1a2938;
			margin: 25px auto auto;
			padding: 0 7px 0;
			text-align: center;
		}

		/***/ /* Upload vidéo */ /***/
		#vid_upload{

		}
		#vid_upload_title{

		}	
		#vid_upload_content{
			height: 666px;
			background:url('../img/footer/picto_video.png') center center no-repeat;
			background-color: #2d3e50;
			border: 6px solid;
			border-color: #fff; 
		}
		#vid_upload_content_form{
			background-color: #2d3e50;
			border: 6px solid;
			border-color: #fff; 
		}		
	/***/ /* Upload infos vidéo */ /***/
		#infos_upload{

		}
		#infos_upload_title{

		}
		#infos_upload_content{
			padding-top: 15px;
			background-color: 	#1a2938;

		}
	/***/ /* Champs de saisie */ /***/
	#infos_upload_content input, #upload textarea{
		color: #fff;
		background-color: #2d3e50;
		width: 98%;
		margin: 6px 0;
		padding: 4px 3px;
		border:solid 1px #000;
	}
	#infos_upload_content ::-moz-placeholder{
		text-indent: 30px;
	}
	#infos_upload_content ::-webkit-input-placeholder{

	}
	#infos_upload_content 
		:-moz-placeholder {

	}	
	#infos_upload_content :-ms-input-placeholder{

	}	
	#upload .form input[type=submit]{	
		background:url('../img/vid/picto_upload.png') top right no-repeat;
		width:189px;
		height: 139px;
		cursor: pointer;
		border:0;
		margin: 20px 0;
	}
	#upload select{
		color: #000;
		margin-top: 20px;
		max-width: 237px;
	}
	/***/ /* Post Upload */ /***/
	#upload #post_upload{
		color: #fff;
		padding-bottom: 40px;
		background-color: #2d3e50;
	}
	#upload #post_upload p{
		border: 1px solid #000;
		background-color: #2d3e50;
		text-align: left;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#upload #post_upload #titre_video{
		margin-top: 10px;
		text-align: center !important;
		padding-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#upload #post_upload #vid_upload_content video{
		width: 100%;
		height: 100%;
	}	
/************************************************/

/* LOTS */

	#lots{
		background-color: #2d3e50;
		width: 100%;
		color: #fff;
		padding-bottom: 15px;
	}
	#lots #lot_n2, #lots #lot_n4{
		background-color: #1a2938;
	}
	#lot_n1, #lot_n2, #lot_n3, #lot_n4{
		padding: 60px 0;
	}
	/***/ /* Photos lots */ /***/
	#lots .photo_lot{
	}
	#lots .photo_lot img{
		height: 350px;
		width: 350px;
		border: solid 1px #16a086;
		border-radius: 500%;
	}
	/***/ /* Description lots */ /***/
	#lots .descri_lot p{
		border: solid 1px #16a086;
		background-color: #2d3e50;
		color: #fff;
		padding: 20px;
	}

	#lots #lot_n2 .descri_lot p, #lots #lot_n4 .descri_lot p{
		border: solid 1px #16a086;
		background-color: #1a2938;
		color: #fff;
		padding: 20px;
	}	
	#lots .profil_classement_content{
		max-height: 200px;
		overflow: auto;
	}
/************************************************/

/* CONTACT */
	#contact{
		background-color: #2d3e50;
		text-align: left;
	}
	#contact h2 {
		padding: 10px 0 20px;
		margin: auto 0;
		color: #fff;
	}
	#contact .bluebox{
		width: 250px;
		height: 55px;
		padding: 8px 7px 0px;
		margin: auto;
		margin-top: 25px;
		text-align: center;
		background-color: #16a086;
		color: #fff;
	}
	#contact_form{
		border: solid 1px #16a086;
		background-color: #1a2938;
		color: #fff;
		padding: 20px;
		margin-bottom: 50px;
	}
	#contact_form input{
		background-color: #2d3e50;
	}
	#contact_form .form-control{
		border: 1px solid #16a086;
		border-radius: 0px;

	}
	#contact_form #message{
		background-color: #2d3e50;
		color: #fff;
	}
	#contact_valid{
		text-align: center;
	}
/************************************************/

/* FOOTER */
	footer{
		width: 100%;
		min-height: 240px;
		background-color: #1a2938;
		bottom:0;
		color: #fff;
	}
	footer .images_footer{
		text-align: center;
		color: #16a086;
	}
	footer .images_footer, footer .social_footer{
		margin-top: 20px;
	}
	footer .images_footer #parrainer{

	}
	footer .images_footer #savoir_plus{

	}
	footer .images_footer #regles_du_jeu{

	}
	footer .images_footer .descri_footer{
		margin-top: 5px;
		background-color: #2d3e50;
		width: 60%;
		padding: 4px 0;
		margin-left: 20%;
		margin-top: 10px; 
	}
	footer .social_footer{
		text-align: center;
		color: #16a086;

	}
	footer .social_footer .descri_footer{
		margin-top: 5px;
		background-color: #2d3e50;
		padding: 4px 0;
		margin: 10px 40px 0 40px; 
	}
	footer .social_footer img{
	}
	footer .col-md-2 {
		width: 13%;
	}
	footer img{
		height: 64px;
	}
	/***/ /* Texte footer */ /***/
	#p_footer{
		text-align: center;
		color: white;
	}
	#p_footer a{
		color: white;
	}
	#p_footer a:hover, a:focus{
		text-decoration: none;
	}
/************************************************/

/* CGU */

	.reglement{
		background-color: #2d3e50;
		color: #fff !important;
		padding: 10px 0 60px;
	}
	.reglement *{
		color: #fff !important;
	}

/************************************************/

/* Savoir plus */
	.savoir_plus{
		background-color: #2d3e50;
		color: #fff !important;
		padding: 10px 0 60px;
	}
	.savoir_plus *{
		color: #fff !important;
	}
	
/************************************************/

/* Règles du jeu */
	#regles_du_jeu{
		background-color: #2d3e50;
		padding: 30px 0;
		width: 100%;
		color: #fff;
	}
	#regles_du_jeu .col-md-2{
		text-align: center;
		min-height: 174px;
	}
	.rdj_content{
		background-color: #192938;
		padding: 20px 10px;
		text-align: left;
	}
	.rdj{
		text-align: center;
		font-size: 1.5em;
	}	
	.rdj_content img{
		width: 90%;
	}
/************************************************/

/* Spécifique */
	.orange_div{
		padding: 10px 7px 10px;
		min-height: 55px;
		margin: auto;
		text-align: center;
		color: #fff;
		background-color: #e74c3c;
	}
		.row{
		padding: 0 0;
		margin: 0 0;
	}

	/* Dropzone */
		.uploadArea h1{ 
			color:#ccc; 
			width:100%; 
			z-index:0; 
			text-align:center; 
			vertical-align:middle; 
			position:absolute; 
			top:25px;
		}
		.dfiles{ 
			clear:both; 
			border:1px solid #ccc; 
			background-color:#E4E4E4; 
			padding:3px; 
			position:relative; 
			height:25px; 
			margin:3px; 
			z-index:1; 
			width:97%; 
			opacity:0.6; 
			cursor:default;
		}
		.invalid { 
			border:1px solid red !important; 
		}
		.buttonUpload { 
			display:inline-block; 
			padding: 4px 10px 4px; 
			text-align: center; 
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
			background-color: #0074cc; 
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px; 
			border-radius: 4px; 
			border-color: #e6e6e6 #e6e6e6 #bfbfbf; 
			border: 1px solid #cccccc; 
			color:#fff; 
		}
		.progress img{ 
			margin-top:7px; 
			margin-left:24px; 
		}
	/* //fin dropzone */

	/* Dernières vidéos - individual */
	#last_vids_content .col-md-3{
		border: 1px solid #2d3e50;
	}	
	/* BackOffice */
	#user_gestion #pic img{
		width: 20% !important;
	}
/************************************************/