/* BODY */
	body{
	}
/************************************************/

/* HEADER */
	#header{
		width: 100%;
		height: 250px;
		background-color: #fff;
	}
	#header #logo{
		padding-left:30px;
		padding-top:30px;
		float: left;
	}
	#header #custogame{
		margin: 80px 73px auto 0;
	}
	#header .disconnect{
		float: right;
		padding-top: 30px;
		padding-right: 10px;
	}
/************************************************/

/* MENU */
	#menu{
		width: 100%;
		height: 50px;
		background-color: #1a2938;
	}
	#menu ul{
		height: 100%;
		padding-left: 0;
	}
	#menu ul li{
		 display: inline-block;
		 height: 100%;
		 width: 15%;
		 padding-top: 15px;
		 text-decoration: none;
		 color:#fff; 
	}
	#menu ul li:hover{
		background-color: #16a086;
	}
	#menu ul li a{
		color: #fff;
		cursor: pointer;
	}
/************************************************/

/* INDEX */
	#index{
		background-color: #2d3e50;
		width: 100%;
	}
		/***/ /* Vidéo de présentation */ /***/
	#player_vid_pres{
		height: 500px;
		width: 100%;
		background-color: #000;
	}
	#vid_pres #concept_custo{
		width: 100%;
		height: 100%;
	}
	#descri_vid_pres{
		width: 100%;
		height: 55px;
		text-align: center;
		color: #fff;
		padding-top: 20px;
		background-color: #525a5c;

	}
	#index .bluebox{
			width: 150px;
			height: 55px;
			padding: 8px 7px 0px;
			margin: auto;
			margin-top: 25px;
			text-align: center;
			background-color: #16a086;
			color: #fff;
	}
	.pitch{
		padding: 30px 22px;
		margin: 0px 0px 100px;
		background-color: #192938;
		color: #fff;
		text-align: left;
	}
		/***/ /* Dernières vidéos */ /***/
	#last_vids{
		background-color: #192938;
		width: 100%;
		padding-bottom: 60px;
		margin-bottom: 10px;
	}
	#last_vids h2{
		padding: 10px 0 20px;
		margin: auto 0;
		color: #fff;
	}
	#last_vids_content{
		background-color: #fff;
		width: 100%;
		height: 250px;
	}
		/***/ /* A toi de jouer */ /***/
	#your_turn{
		padding: 20px 0;
		margin:auto 0;
	}
/************************************************/

/* UPLOAD */
	#upload{
		background-color: #2d3e50;
		width: 100%;
		color: #fff;
	}
	/***/ /* Upload vidéo */ /***/
	#vid_upload{

	}
	#vid_upload_title{

	}	
	#vid_upload_content{
		height: 300px;
		background:url('../img/footer/picto_video.png') center center no-repeat;
		background-color: #2d3e50;
		border: 6px solid;
		border-color: #fff; 
	}
	/***/ /* Upload infos vidéo */ /***/
	#infos_upload{

	}
	#infos_upload_title{

	}
	#infos_upload_content{
		background-color: #fff;
	}
	/***/ /* Champs de saisie */ /***/
	#infos_upload_content input{
		color: #fff;
		background-color: #2d3e50;
		width: 98%;
		margin: 6px 0;
		padding: 4px 2px;
		border-width: 1px;
	}
	#infos_upload_content ::-moz-placeholder{
		text-indent: 30px;
	}
	#infos_upload_content ::-webkit-input-placeholder{

	}
	#infos_upload_content 
:-moz-placeholder {

	}	
	#infos_upload_content :-ms-input-placeholder{

	}	
	#upload .form input[type=submit]{	
		background:url('../img/vid/picto_upload.png') top right no-repeat;
		width:189px;
		height: 139px;
		cursor: pointer;
		border:0;
		margin: 20px 0;
	}

/************************************************/

/* CONTACT */
	#contact{
		background-color: #2d3e50;
	}
	#contact h2 {
		padding: 10px 0 20px;
		margin: auto 0;
		color: #fff;
	}
	#contact .bluebox{
		width: 250px;
		height: 55px;
		padding: 8px 7px 0px;
		margin: auto;
		margin-top: 25px;
		text-align: center;
		background-color: #16a086;
		color: #fff;
	}
	#contact_form{
		border: solid 1px #16a086;
		background-color: #1a2938;
		color: #fff;
		padding: 20px;
		margin-bottom: 50px;
	}
	#contact_form input{
		background-color: #2d3e50;

	}
	#contact_form .form-control{
		border: 1px solid #16a086;
		border-radius: 0px;

	}
	#contact_form #message{
		background-color: #2d3e50;
		color: #fff;
	}
/************************************************/

/* FOOTER */
	footer{
		width: 100%;
		height: 280px;
		background-color: #1a2938;
		bottom:0;
		color: #fff;
	}
	footer .images_footer{
		text-align: center;
		color: #16a086;
		margin-top: 20px;

	}
	footer .images_footer #parrainer{

	}
	footer .images_footer #savoir_plus{

	}
	footer .images_footer #regles_du_jeu{

	}
	footer .images_footer .descri_footer{
		margin-top: 5px;
		background-color: #2d3e50;
		width: 60%;
		padding: 4px 0;
		margin-left: 35px;
		margin-top: 10px; 
	}
	footer .social_footer{
		text-align: center;
		color: #16a086;
		margin-top: 20px;

	}
	footer .social_footer .descri_footer{
		margin-top: 5px;
		background-color: #2d3e50;
		width: 300%;
		padding: 4px 0;
		margin-top: 10px; 
	}
	footer .social_footer img{
		width: 70%;
		margin-left: 385px;
	}
	footer .col-md-2 {
	    width: 13%;
	}

	footer .descri_footer {
		margin-left: 385px;

	}
	/***/ /* Texte footer */ /***/
	#p_footer{
		text-align: center;
		color: white;
	}
	#p_footer a{
		color: white;
	}
	#p_footer a:hover, a:focus{
		text-decoration: none;
	}
/************************************************/

/* Spécifique */
	.orange_div{
		height: 55px;
		padding: 8px 7px 0px;
		margin: auto;
		margin-top: 25px;
		text-align: center;
		color: #fff;
		background-color: #e74c3c;
	}
	

/************************************************/