/* BODY */
	body{
	}

/************************************************/

/* HEADER */
	#header{
		width: 100%;
		height: 250px;
		background-color: #fff;
	}
	#header #logo{
		padding-left:30px;
		padding-top:30px;
		float: left;
	}
	#header #custogame{
		margin: 80px 73px auto 0;
	}
	#header .disconnect{
		float: right;
		padding-top: 30px;
		padding-right: 10px;
	}
/************************************************/

/* MENU */
	#menu{
		width: 100%;
		height: 50px;
		background-color: #1a2938;
	}
	#menu ul{
		height: 100%;
		padding-left: 0;
	}
	#menu ul li{
		 display: inline-block;
		 height: 100%;
		 width: 12%;
		 padding-top: 15px;
		 text-decoration: none;
		 color:#fff; 
	}
	#menu ul li:hover{
		background-color: #16a086;
	}
	#menu ul li a{
		color: #fff;
		cursor: pointer;
	}
/************************************************/

/* INDEX */
	#index{
		background-color: #2d3e50;
		width: 100%;
	}
		/***/ /* Vidéo de présentation */ /***/
	#player_vid_pres{
		height: 500px;
		width: 100%;
		background-color: #000;
	}
	#vid_pres #concept_custo{
		width: 100%;
		height: 100%;
	}
	#descri_vid_pres{
		width: 100%;
		height: 55px;
		text-align: center;
		color: #fff;
		padding-top: 20px;
		background-color: #525a5c;

	}
	#index .bluebox{
			width: 150px;
			height: 55px;
			padding: 8px 7px 0px;
			margin: auto;
			margin-top: 25px;
			text-align: center;
			background-color: #16a086;
			color: #fff;
	}
	.pitch{
		padding: 30px 22px;
		margin: 0px;
		background-color: #192938;
		color: #fff;
		text-align: left;
	}
		/***/ /* Dernières vidéos */ /***/
	#last_vids{
		background-color: #192938;
		width: 100%;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}
	#last_vids h2{
		padding: 10px 0 20px;
		margin: auto 0;
		color: #fff;
	}
	#last_vids_content{
		background-color: #000;
		width: 100%;
		height: 300px;
		overflow: scroll;
	}
	#last_vids_content h3{
		color: #fff;
	}
	#index #last_vids_content .col-md-3{
		padding:0px 0px 12px;
	}
		/***/ /* A toi de jouer */ /***/
	#your_turn{
		padding: 60px 0;
		margin:auto 0;
	}
/************************************************/

/* PROFIL */
	/***/ /* Classement */ /***/
#profil #profil_classement{
	width: 80%;
	border-radius:20px;
	background-color: ;
	color: #fff;
}
#profil #profil_classement_title{
	background-color: #2d3e50;
	padding: 5px 0 10px 0;
	text-align:center;
	border-radius: 20px 20px 0 0;
}
#profil #profil_classement_content{
	background-color: #bec3c7;
	padding: 15px 0 10px 0;
	text-align:center;
	border-radius: 0 0 20px 20px;
	color: #000;
}
	/***/ /* Bloc onglets+infos utilisateur */ /***/
#profil #profil_custuser{
	background-color: #2d3e50;
	padding: 0 15px 15px 15px;
	margin: 25px auto;
}
#profil #profil_custuser #myTab a:hover{
	background-color: #16a086;
}
#profil .nav{
	
}
	/***/ /* Textes */ /***/
#profil #profil_custuser h3{
	color: #fff;
}
#profil #profil_custuser .col-md-4{
	text-align: center;
	margin: 0 15px;
	width: 30%
}
#profil #profil_custuser #myTab .nav-tabs .col-md-4:hover{
	background-color: #16a086;
}
#profil #profil_custuser p{
	margin-bottom: 0px;
}
	/***/ /* Bloc infos */ /***/
#profil #profil_infos_custuser{
	background-color: #192938;
	color: #fff;
}
#profil .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #16a086;
}
#profil .nav-tabs > li {
	width: 28%;
	height: 50px;
	margin: 0;
}
#profil #myTab{
	margin: 0 auto;
	border: none;
}
#profil .nav-tabs > li > a {
	border: 1px solid transparent;
	border-radius: 0;
	line-height: 1.42857;
	margin-right: 2px;
	width: 100%;
	height: 100%;
	color: #fff;
}
#profil .infos_title, #profil #myTab .col-md-4{
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
#profil #myTab .infos_title{
	padding-top: 3px;
}
#profil #informations_titre{
	margin-left: 8%;
}
#profil #recompenses_titre{
	margin-right: 8%;
}
#profil #myTabContent .field_description{
	text-align: left;
}
#profil .field_content_stronk{
	border: solid 1px #16a086;
	margin-bottom: 20px;
	padding: 6px 0;
	color: #fff;
}
#profil .field_content{
	background-color: #2d3e50;
	border: solid 1px #16a086;
	margin-bottom: 20px;
	padding: 6px 0;
	color: #fff;
}
#profil .field_content input{
	background-color: #2d3e50;
	color: #fff;
	border: none;
	text-align: center;
	width: 100%;
}
#profil .valider{
	background-color: #192938;
	color: #25b6ae;
	border:none;
	width:100px;
	padding: 0;
	margin-top: 18px;
	border: solid 1px #16a086;
	border-radius: 2px;
	height: 30px;
}
#profil .cancel{
	padding-top: 8px;
}
#profil .cancel a{
	padding-bottom: 8px;
}
#profil #myTabContent .row{
 padding-top: 25px; 
}
#profil #myTabContent .unset{
	border: none;
}
#profil .tab-pane{
	height: 430px;
}
#profil .formulaire{
	height: 620px;
}
#profil .badges, .trophees{
	height: 200px;
}
#profil .fade {
	display: none;
	opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;	
}
#profil .fade.in {
	display: block;
	opacity: 1;
}
/************************************************/

/* RECHERCHE & POST RECHERCHE */

	/***/ /* Upload vidéo */ /***/
	#discover{
		width: 100%;
		color: #fff;
	}
	#discover #recherche{
		background:url('../img/pictos/picto_loupe.png') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 350px;
	}
	#discover #recherche h2{
		margin: 0;
		padding: 20px 0;
	}
	#discover .bluebox{
			width: 150px;
			height: 55px;
			margin: auto;
			margin-top: 25px;
			text-align: center;
			background-color: #16a086;
			color: #fff;
			
			border:solid #000;
			border-width:  0 2px 2px 0;
	}
	
/************************************************/

/* UPLOAD & POST UPLOAD */

	/***/ /* Upload vidéo */ /***/
	#upload{
		background-color: #2d3e50;
		width: 100%;
		color: #fff;
	}
	#upload .title_sides{
		background-color: #1a2938;
		height: 55px;
		margin: 25px auto auto;
		padding: 8px 7px 0;
		text-align: center;
	}

	/***/ /* Upload vidéo */ /***/
	#vid_upload{

	}
	#vid_upload_title{

	}	
	#vid_upload_content{
		height: 300px;
		background:url('../img/footer/picto_video.png') center center no-repeat;
		background-color: #2d3e50;
		border: 6px solid;
		border-color: #fff; 
	}
	/***/ /* Upload infos vidéo */ /***/
	#infos_upload{

	}
	#infos_upload_title{

	}
	#infos_upload_content{
		background-color: #fff;
	}
	/***/ /* Champs de saisie */ /***/
	#infos_upload_content input, #upload textarea{
		color: #fff;
		background-color: #2d3e50;
		width: 98%;
		margin: 6px 0;
		padding: 4px 2px;
		border-width: 1px;
	}
	#infos_upload_content ::-moz-placeholder{
		text-indent: 30px;
	}
	#infos_upload_content ::-webkit-input-placeholder{

	}
	#infos_upload_content 
		:-moz-placeholder {

	}	
	#infos_upload_content :-ms-input-placeholder{

	}	
	#upload .form input[type=submit]{	
		background:url('../img/vid/picto_upload.png') top right no-repeat;
		width:189px;
		height: 139px;
		cursor: pointer;
		border:0;
		margin: 20px 0;
	}
	#upload select{
		color: #000;
		margin-top: 20px;
	}
	/***/ /* Post Upload */ /***/
	#upload #post_upload{
		color: #fff;
		padding-bottom: 40px;
		background-color: #2d3e50;
	}
	#upload #post_upload p{
		border: 1px solid #000;
		background-color: #2d3e50;
		text-align: left;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#upload #post_upload #titre_video{
		margin-top: 10px;
		text-align: center !important;
		padding-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#upload #post_upload #vid_upload_content iframe{
		width: 100%;
		height: 100%;
	}	
/************************************************/

/* CONTACT */
	#contact{
		background-color: #2d3e50;
		text-align: left;
	}
	#contact h2 {
		padding: 10px 0 20px;
		margin: auto 0;
		color: #fff;
	}
	#contact .bluebox{
		width: 250px;
		height: 55px;
		padding: 8px 7px 0px;
		margin: auto;
		margin-top: 25px;
		text-align: center;
		background-color: #16a086;
		color: #fff;
	}
	#contact_form{
		border: solid 1px #16a086;
		background-color: #1a2938;
		color: #fff;
		padding: 20px;
		margin-bottom: 50px;
	}
	#contact_form input{
		background-color: #2d3e50;
	}
	#contact_form .form-control{
		border: 1px solid #16a086;
		border-radius: 0px;

	}
	#contact_form #message{
		background-color: #2d3e50;
		color: #fff;
	}
	#contact_valid{
		text-align: center;
	}
/************************************************/

/* FOOTER */
	footer{
		width: 100%;
		min-height: 240px;
		background-color: #1a2938;
		bottom:0;
		color: #fff;
	}
	footer .images_footer{
		text-align: center;
		color: #16a086;
	}
	footer .images_footer, footer .social_footer{
		margin-top: 20px;
	}
	footer .images_footer #parrainer{

	}
	footer .images_footer #savoir_plus{

	}
	footer .images_footer #regles_du_jeu{

	}
	footer .images_footer .descri_footer{
		margin-top: 5px;
		background-color: #2d3e50;
		width: 60%;
		padding: 4px 0;
		margin-left: 35px;
		margin-top: 10px; 
	}
	footer .social_footer{
		text-align: center;
		color: #16a086;

	}
	footer .social_footer .descri_footer{
		margin-top: 5px;
		background-color: #2d3e50;
		padding: 4px 0;
		margin-top: 10px; 
	}
	footer .social_footer img{
	}
	footer .col-md-2 {
		width: 13%;
	}
	footer img{
		height: 64px;
	}
	/***/ /* Texte footer */ /***/
	#p_footer{
		text-align: center;
		color: white;
	}
	#p_footer a{
		color: white;
	}
	#p_footer a:hover, a:focus{
		text-decoration: none;
	}
/************************************************/

/* Spécifique */
	.orange_div{
		height: 55px;
		padding: 8px 7px 0px;
		margin: auto;
		margin-top: 25px;
		text-align: center;
		color: #fff;
		background-color: #e74c3c;
	}
		.row{
		padding: 0 0;
		margin: 0 0;
	}

/************************************************/